/* Variables */

:root {
    --primaryColor: #497b46;
    --secondaryColor: #717bbd;
    --tertiaryColor: #844953;
}

/* General Styles */

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: normal;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a,
button {
    display: inline-block;
    font: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

section {
    position: relative;
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

section.alt {
    background-color: #f7f8fd;
}

.btn {
    font-family: "Inter", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0.5rem 0;
    padding: 0.5em 1.25em;
    background-color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.btn:hover {
    background-color: #346331;
}

.btn.secondary {
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

.btn.secondary:hover {
    background-color: #5968cc;
}

.link {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--secondaryColor);
    -webkit-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
    margin-top: 1rem;
    font-size: 1rem;
}

.link:hover {
    color: #455096;
}

.link::after {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    content: "";
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    pointer-events: none;
    width: 6px;
    height: 6px;
    top: -1px;
}

.anchor {
    position: absolute;
    top: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    color: #1f2d3d;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 0.45em;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

h4 {
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
}

h5 {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #3c4858;
    margin-bottom: 0.75em;
}

.gradient-text {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--primaryColor)),
        to(var(--secondaryColor))
    );
    background: -o-linear-gradient(
        left,
        var(--primaryColor),
        var(--secondaryColor)
    );
    background: linear-gradient(
        to right,
        var(--primaryColor),
        var(--secondaryColor)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Navigation Bar Styles */

header {
    position: relative;
    top: 0;
    width: 100%;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    z-index: 999;
}

.nav-container {
    position: relative;
    padding: 10px 0;
    background-color: #fff;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 180px;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-list li {
    margin: 0.25rem 1rem;
}

.nav-link {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.nav-link:hover {
    color: var(--primaryColor);
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px;
    background: var(--primaryColor);
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
}

.nav-link:hover:after {
    width: 100%;
}

.nav-list .btn {
    margin: 0;
}

/* Hamburger Styles */

.hamburger {
    display: none;
}

.hamburger {
    width: 30px;
    height: 32px;
    margin-top: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--primaryColor);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 8px;
}

.hamburger span:nth-child(4) {
    top: 16px;
}

header.open .hamburger span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

header.open .hamburger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

header.open .hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header.open .hamburger span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Hero Section */

.hero-section {
    background: url(../images/hero_bg.svg) center no-repeat;
    background-size: cover;
}

.hero-text {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.hero-text h5 {
    color: #fff;
}

.hero-text .btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1.25rem auto 0;
}

/* Supporters Section */

.supporters-content h2 {
    font-size: 1rem;
}

.supporters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2.5rem 3rem;
    margin-top: 3rem;
}

.supporters > div > img {
    width: auto;
    height: 34px;
}

/* Overviews Section */

.overview-section {
    padding-bottom: 4rem;
}

.overviews {
    margin-top: 5rem;
}

.overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4rem;
    margin-bottom: 5rem;
}

.overview > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
}

.overview-img {
    position: relative;
}

.overview-img img {
    border-radius: 10px;
    border: 2px solid var(--primaryColor);
}

.overview center {
    margin-top: 1.75rem;
}

.overview-img::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 10px;
    background-color: #e5f4f4;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overviews > .overview:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.overviews > .overview:last-child > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.overviews > .overview:last-child > div:first-child img {
    width: auto;
    height: 80px;
}

.overview > div:last-child {
    padding-left: 50px;
}

.overview h4 {
    position: relative;
}

.overview > div > h4 span {
    position: absolute;
    top: 50%;
    left: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: rgba(73, 123, 70, 0.1);
    border: 1px solid var(--primaryColor);
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overview li {
    position: relative;
    color: #3c4858;
    margin: 20px 0 20px 40px;
}

.overview p {
    color: #3c4858;
}

.overview li::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    content: "\2714";
    position: absolute;
    top: -5px;
    left: -40px;
    color: var(--primaryColor);
    background-color: #edecf9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Features Section */

.features-section {
    background: url(../images/feature_bg.svg) center no-repeat;
    background-size: cover;
}

.features-content h2,
.features-content h5 {
    color: #fff;
}

.rotating-words-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.rotating-words {
    color: var(--primaryColor);
    overflow: hidden;
}

.rotating-words > span {
    display: block;
    width: 233px;
    height: 100%;
    padding-left: 12px;
    text-align: left;
    white-space: nowrap;
    -webkit-animation: rotate_words 12s infinite;
    animation: rotate_words 12s infinite;
    will-change: transform, width;
}

@-webkit-keyframes rotate_words {
    0% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        width: 233px;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 233px;
    }
    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 233px;
    }
    20% {
        -webkit-transform: translateY(-115%);
        transform: translateY(-115%);
        width: 166px;
    }
    30% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 166px;
    }
    35% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 166px;
    }
    40% {
        -webkit-transform: translateY(-215%);
        transform: translateY(-215%);
        width: 233px;
    }
    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        width: 233px;
    }
    55% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        width: 233px;
    }
    60% {
        -webkit-transform: translateY(-315%);
        transform: translateY(-315%);
        width: 338px;
    }
    70% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
        width: 338px;
    }
    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
        width: 338px;
    }
    80% {
        -webkit-transform: translateY(-415%);
        transform: translateY(-415%);
        width: 234px;
    }
    85% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
        width: 234px;
    }
    90% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
        width: 234px;
    }
    93% {
        -webkit-transform: translateY(-515%);
        transform: translateY(-515%);
        width: 200px;
    }
    95% {
        -webkit-transform: translateY(-500%);
        transform: translateY(-500%);
        width: 200px;
    }
    98% {
        -webkit-transform: translateY(-500%);
        transform: translateY(-500%);
        width: 200px;
    }
    100% {
        -webkit-transform: translateY(-615%);
        transform: translateY(-615%);
        width: 233px;
    }
}

@keyframes rotate_words {
    0% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        width: 233px;
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 233px;
    }
    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 233px;
    }
    20% {
        -webkit-transform: translateY(-115%);
        transform: translateY(-115%);
        width: 166px;
    }
    30% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 166px;
    }
    35% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 166px;
    }
    40% {
        -webkit-transform: translateY(-215%);
        transform: translateY(-215%);
        width: 233px;
    }
    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        width: 233px;
    }
    55% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        width: 233px;
    }
    60% {
        -webkit-transform: translateY(-315%);
        transform: translateY(-315%);
        width: 338px;
    }
    70% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
        width: 338px;
    }
    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
        width: 338px;
    }
    80% {
        -webkit-transform: translateY(-415%);
        transform: translateY(-415%);
        width: 234px;
    }
    85% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
        width: 234px;
    }
    90% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
        width: 234px;
    }
    93% {
        -webkit-transform: translateY(-515%);
        transform: translateY(-515%);
        width: 200px;
    }
    95% {
        -webkit-transform: translateY(-500%);
        transform: translateY(-500%);
        width: 200px;
    }
    98% {
        -webkit-transform: translateY(-500%);
        transform: translateY(-500%);
        width: 200px;
    }
    100% {
        -webkit-transform: translateY(-615%);
        transform: translateY(-615%);
        width: 233px;
    }
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 3rem;
    gap: 1.25rem;
}

.feature {
    margin-top: 0;
    padding: 1rem;
    border: 2px solid var(--primaryColor);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}

.feature p {
    color: #001220;
}

.feature-img {
    width: 60px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    padding: 0.75rem;
    fill: #fff;
    background-color: var(--primaryColor);
}

/* Ready Section */

.ready-section {
    text-align: center;
}

.ready-content p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.ready-content {
    position: relative;
    padding: 6rem 1.25rem;
    text-align: center;
    background-color: #001220;
    background-image: url(../images/ready-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.ready-content h2,
.ready-content p {
    color: #fff;
}

.ready-img {
    position: absolute;
    padding: 0.75rem;
    background-color: #fff;
    top: 0;
    left: 50%;
    width: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid var(--primaryColor);
    fill: var(--primaryColor);
}

/* Footer */

footer {
    background-color: #f7f8fd;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4rem 0 2rem;
}

.footer-logo {
    margin-bottom: 0.5rem;
}

.footer-logo img {
    width: auto;
    height: 70px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-list li a svg {
    width: auto;
    height: 28px;
    fill: #414855;
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}

.social-list li a:hover svg {
    fill: var(--tertiaryColor);
}

.footer-content > ul > li:first-child {
    margin-bottom: 1rem;
}

.footer-content > ul > li {
    margin: 0.5rem 0;
}

.footer-content > ul > li > a {
    -webkit-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
}

.footer-content > ul > li > a:hover {
    color: var(--tertiaryColor);
}

.copyright {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0;
    border-top: 1px solid #e0e6ed;
}

/* Media Queries */

@media (max-width: 992px) {
    /* Typography */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    /* Navigation Bar Styles */

    .hamburger {
        display: block;
    }

    .logo {
        width: 140px;
    }

    .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
        transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
        -o-transition: transform 0.5s, box-shadow 0.5s;
        transition: transform 0.5s, box-shadow 0.5s;
        transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s,
            -webkit-box-shadow 0.5s;
        z-index: -1;
    }

    header.open .nav-list {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-box-shadow: 0 25px 34px 5px rgba(0, 0, 0, 0.06);
        box-shadow: 0 25px 34px 5px rgba(0, 0, 0, 0.06);
    }

    .nav-list li {
        margin: 0.5rem 0;
    }

    /* Features Section */

    .rotating-words-container {
        height: 45px;
    }

    .rotating-words > span {
        padding-left: 10px;
    }

    @-webkit-keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: 206px;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 206px;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 206px;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: 150px;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 150px;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 150px;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: 211px;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 211px;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 211px;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: 305px;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 305px;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 305px;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: 212px;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 212px;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 212px;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: 150px;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 150px;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 150px;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: 206px;
        }
    }

    @keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: 206px;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 206px;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 206px;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: 150px;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 150px;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 150px;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: 211px;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 211px;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 211px;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: 305px;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 305px;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 305px;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: 212px;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 212px;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 212px;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: 150px;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 150px;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 150px;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: 206px;
        }
    }

    .features {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    /* Typography */

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    /* Overviews Section */

    .overview {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .overview > div {
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
    }

    .overview > div:last-child {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    /* Features Section */

    .rotating-words-container {
        height: 40px;
    }

    .rotating-words > span {
        padding-left: 8px;
    }

    @-webkit-keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: 184px;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 184px;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 184px;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: 133px;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 133px;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 133px;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: 187px;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 187px;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 187px;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: 271px;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 271px;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 271px;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: 187px;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 187px;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 187px;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: 180px;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 180px;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 180px;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: 184px;
        }
    }

    @keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: 184px;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 184px;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: 184px;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: 133px;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 133px;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: 133px;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: 187px;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 187px;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: 187px;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: 271px;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 271px;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: 271px;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: 187px;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 187px;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: 187px;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: 180px;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 180px;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: 180px;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: 184px;
        }
    }

    /* Footer */

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 0;
    }
}

@media (max-width: 576px) {
    /* Typography */

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    /* Features Section */

    .rotating-words-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 72px;
    }

    .rotating-words > span {
        padding-left: 10px;
        text-align: center;
    }

    @-webkit-keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: auto;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: auto;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: auto;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: auto;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: auto;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: auto;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: auto;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: auto;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: auto;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: auto;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: auto;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: auto;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: auto;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: auto;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: auto;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: auto;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: auto;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: auto;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: auto;
        }
    }

    @keyframes rotate_words {
        0% {
            -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
            width: auto;
        }
        10% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: auto;
        }
        15% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            width: auto;
        }
        20% {
            -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
            width: auto;
        }
        30% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: auto;
        }
        35% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            width: auto;
        }
        40% {
            -webkit-transform: translateY(-215%);
            transform: translateY(-215%);
            width: auto;
        }
        50% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: auto;
        }
        55% {
            -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
            width: auto;
        }
        60% {
            -webkit-transform: translateY(-315%);
            transform: translateY(-315%);
            width: auto;
        }
        70% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: auto;
        }
        75% {
            -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
            width: auto;
        }
        80% {
            -webkit-transform: translateY(-415%);
            transform: translateY(-415%);
            width: auto;
        }
        85% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: auto;
        }
        90% {
            -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
            width: auto;
        }
        93% {
            -webkit-transform: translateY(-515%);
            transform: translateY(-515%);
            width: auto;
        }
        95% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: auto;
        }
        98% {
            -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
            width: auto;
        }
        100% {
            -webkit-transform: translateY(-615%);
            transform: translateY(-615%);
            width: auto;
        }
    }

    .features {
        grid-template-columns: 1fr;
    }
}
